<ion-header>
	<ion-navbar color="danger">
		<ion-title class="welcome">Start to SWING!</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="goToMap()">
				<img width="35" height="35" src="assets/maps-icon.png"/>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<!-- Search bar-->
	<ion-searchbar
			[(ngModel)]="searchQuery"
			[showCancelButton]="true">
	</ion-searchbar>
<!--Switch filter buttons-->
	<div padding>
		<ion-segment [(ngModel)]="filterSwitch">
			<ion-segment-button value="distance">
				Afstand
			</ion-segment-button>
			<ion-segment-button value="status">
				Status
			</ion-segment-button>
		</ion-segment>
	</div>
	<!--Show spinner while resolving location and the swings-->
	<ion-item class="loading" *ngIf="!location.latitude">
		<ion-spinner></ion-spinner><p>Loading...</p>
	</ion-item>

	<div [ngSwitch]="filterSwitch">
		<ion-list *ngSwitchCase="'status'">
			<ion-item *ngFor="let swing of swings | async |  orderByStatus: day | filter: searchQuery ">
				<ion-icon item-left>
					<ion-icon [class.open]="isOpen(swing[day])" ios="ios-clock" md="md-clock"></ion-icon>
				</ion-icon>
				<h2>{{swing.name}}</h2>
				<p *ngIf="isOpen(swing[day])">{{swing[day]}}</p>
				<p *ngIf="!isOpen(swing[day])">Onbekend</p>
				<ion-icon item-right>
					<ion-icon class="likes" ios="ios-heart" md="md-heart" (click)="likeSwing(swing)" [class.liked]="hasLiked(swing.$key)"><span> {{swing.likes}}</span></ion-icon>
					<ion-icon class="arrow" ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
					<p>{{getDistance(swing.location) | distance }}</p>
				</ion-icon>
			</ion-item>
		</ion-list>

		<ion-list *ngSwitchCase="'distance'">
			<ion-item *ngFor="let swing of swings | async | orderByDis: location | filter: searchQuery ">
				<ion-icon item-left>
					<ion-icon [class.open]="isOpen(swing[day])" ios="ios-clock" md="md-clock"></ion-icon>
				</ion-icon>
				<h2>{{swing.name}}</h2>
				<p *ngIf="isOpen(swing[day])">Openingstijden {{swing[day]}}</p>
				<p *ngIf="!isOpen(swing[day])">Onbekend</p>
				<ion-icon item-right>
					<ion-icon class="likes" ios="ios-heart" md="md-heart" (click)="likeSwing(swing)" [class.liked]="hasLiked(swing.$key)"><span> {{swing.likes}}</span></ion-icon>
					<ion-icon class="arrow" ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
					<p>{{getDistance(swing.location) | distance }}</p>
				</ion-icon>
			</ion-item>
		</ion-list>
	</div>

</ion-content>
