page-swing-detail {

	.title {
		font-weight: 200;
		text-align: center;
	}
	h2.name {
		font-size: 1.2em;
		font-weight: 500;
	}

	ion-item.address {
		p {
			font-size: 1.2em;
			font-weight: 350;
		}
	}

	.sebm-google-map-container {
		height: 100%;
	}

	ion-icon.likes {
		color: #e90000;
		opacity: 0.9;
		font-size: 1em;
		margin-right: 2px;

		span {
			color: #060606;
			font-size: 0.9em;
			font-weight: 200;
		}
	}

}
